.tablero {
  margin-top: 15px;
}

.vasos div {
  margin-bottom: 50px;
}

.mensaje, .info {
  width: 100%;
  margin-top: 20px;
  color: rgb(99, 183, 230);
}

h1, h2 {
  font-family: molot;
  color: rgb(99, 183, 230);
}

h3 {
  font-family: molot;
  color: rgb(80, 238, 69);
}

p {
  color: rgb(255, 255, 255);
}

span {
  color: rgb(99, 183, 230);
}

#myModal {
  width: 80%;
}

.modal-footer button {
  background-color: rgb(99, 183, 230);
  color: white;
  border: 2px solid rgb(99, 183, 230);
}

.modal-footer button:hover {
  background-color: inherit;
  color: rgb(99, 183, 230);
  font-weight: bold;
}

.puntos {
  position: fixed;
  right: 50px;
  top: 20px;
}

.puntos p {
  color: rgb(99, 183, 230)
}

/* CHAT SALA */
.chat {
  width: 300px;
  background-color: white;
}
