.tablero {
  margin-top: 100px;
  margin-left: 30%;
  width: 70%;
  height: 500px;
}

.vasos {
  margin-bottom: 20px;
}

.mensaje, .info {
  width: 100%;
  margin-top: 20px;
  color: rgb(180, 58, 58);
}

h1 {
  color: rgb(180, 58, 58);
}

.sala {
  position: fixed;
  justify-content: center;
  left: 0;
  top : 0;
  color: white;
}

/* CHAT SALA */
.chat {
  width: 300px;
  background-color: white;
  position: fixed;
  bottom: 0;
}
