h4, span {
  color: rgb(99, 183, 230);
}

p, li {
  color: white;
}

button {
  background-color: inherit;
  color: rgb(99, 183, 230);
  border: 2px solid rgb(99, 183, 230);
}

button:hover {
  background-color: rgb(99, 183, 230);
  color: rgba(6, 6, 6, 0.87);
  font-weight: bold;
}

.row {
  padding: 10%;
}

.conectados {
  position: fixed;
  justify-content: center;
  left: 0;
  top : 0;
}

.conectados li {
  list-style: none;
}
