.container-fluid {
  background-color: white;
  position: fixed;
  bottom: 0;
}

.chat {
  height: 150px;
  overflow-y: scroll;
}

input {
  width: 90%;
  padding: 6px 15px 6px 15px;
}

button {
  width: 10%;
  background-color: rgba(6, 6, 6, 0.87);
  color: white;
}

ul {
  padding: 0;
  margin-right: 10px;
}

li {
  list-style: none;
  margin: 0;
  padding: 10px;
  border: 1px solid rgb(148, 148, 148);
  background-color: rgba(201, 200, 195, .2);
}

span {
  font-weight: bold;
  color: rgb(180, 58, 58);
}
